html
    head
        title What's My Stats

        // Font Awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // Bootstrap core CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        //link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css', rel='stylesheet')
        link(rel="stylesheet", href="mbd.css")
        // Some customizations
        link(rel="stylesheet", href="custom.css")
        // Principal CSS
        link(rel="stylesheet", href="blog.css")
        // Slick
        link(rel="stylesheet", href="slick-min.css")
    body
        block content